section {
    margin-top: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

body {
    background-image: url(assets/images/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
}